@import "../../styles/shared.scss";

.home-search-wrapper {
  width: 100%;
  padding: 100px 0;
  background: white;
}

.home-search {
  max-width: $grid-max-width;
  width: 100%;
  padding: 20px $grid-gutter;
  margin: 0 auto;

  &__field {
    width: 600px;
    padding: 15px 15px 15px 45px;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    background: no-repeat 10px center url('../../images/ai-logo.png');
  }
}

.favorites {
  font-size: 13px;
  padding-top: 10px;

  &__label {
    font-weight: bold;
  }

  &__item {
    float: left;
    margin-right: 10px;
    border-bottom: 1px solid #394451;
    padding-bottom: 1px;
    opacity: 1;

    &:first-child {
      border-bottom: none;
    }
    
    a {
      text-decoration: none;
      color: #394451;

      &:hover {
        opacity: 0.8;
        // text-decoration: underline;
      }
    }
  }
}

