// Base Tokens
$neutral-10: #E8EAEE;
$neutral-20: #D1D5DA;

// Colors
$colors-bg-gray: #F5F7F9;
$colors-border: #D1D5DA;

// Fonts
$fonts-sans-serif: "Amazon Ember", sans-serif;

// Grid stuff
$grid-max-width: 1000px;
$grid-gutter: 32px;

