@import "../../styles/shared.scss";

.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #0a2540;
    background-color: rgba(255,255,255,1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.headerContent {
    margin: 0 auto;
    height: 60px;
    width: 100%;
    position: relative;
    z-index: 2;
    padding-left: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.content-items {
    display: flex;
    cursor: default;
    /* display: block; */
    float: left;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.content-items img {
    margin: 0 10px; 
}

.nav-icon {
    height: 25px;
    width: 25px;
    margin: 0 25px 0 35px!important;
}

.breadcrumbs {
  font-size: 14px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
      margin-right: 15px;
      &--current {
        font-weight: bold;

        &::after {
          display: none;
        }
      }

      &--badge {
        background-color: $neutral-10;
        padding: 5px 8px;
        color: #394451;
        font-weight: 500;
        border-radius: 4px;

        &::after {
          display: none;
        }
      }
      
      &::after {
        padding-left: 15px;
        content:'»';
      }
  }
}