@import "../styles/shared.scss";

.App {
  font-family: $fonts-sans-serif;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.content-body {
  background-color: $colors-bg-gray;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 115px);
}

.sidebar {
  background: white;
  min-width: 300px;
  max-width: 350px;
  border-left: 1px solid $colors-border;
  display: flex;
  flex-direction: column;
}

.sidebar-main {
  flex-grow: 1;
  padding: 20px 20px;

  p {
    padding: 0;
    margin: 0;
    padding-left: 35px;
    line-height: 1.6em;
    & b {
      color: #F1795C;
    }
  }
  .sidebar-tip {
    color: #3e5060;
    margin-top: 10px;
  }  
}

.sidebar-title {
  display: flex;
  margin-bottom: 5px;
  & img {
    margin-right: 10px;
    height: 25px;
    width: 25px;
  }
}

.sidebar-question {
  margin-bottom: 30px;
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.editor {
  background: white;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 10px 30px;
  text-align: start;
  margin: 20px 30px;
  flex-grow: 1;  
  border: 1px solid #D1D5DA;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.editor__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 65%;
  width: 65%;
  margin: 20px auto;
}

.cardItem {
  display: flex;
  align-items: center;
}

.cardItem h3 {
  width: 100%;
}

.cardItemIcon {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Home {
  background-color: $colors-bg-gray;
  min-height: 100vh;
}

.home-bottom {
  height: 1000px;
  background-image: url('../images/home-bottom.png');
  background-size: $grid-max-width auto;
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 20px;
}

.ds-container__line {
  height: 1px;
  width: 100%;
  background: rgba(0,0,0,0.1);
}

.document-section, .intro-prompt {
  margin-bottom: 60px;
}

.document-section__prompt-area {
  display: flex;
  min-height: 100px;
  & div {
    width: 95%;
  }
  & .ai-logo {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }
}

.document-section_text-field {
  & div::before, div::after {
    border-bottom: none!important;
  }
  & div {
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 500;
    color: #394451;
    font-size: 15px;
  }
}

.ds-generate__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 95%;
  margin: 0 auto;
  & .generate-logo {
    height: 20px;
    width: 20px;
  }
  & h3 {
    text-transform: none!important;
    color: #3e5060;
    margin-left: 10px;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 500;
  }

}

.prompt-btn {
  background-color: white!important;
  box-shadow: none!important;
  min-width: 150px!important;
}

.left-align {
  justify-content: flex-start;
  margin: 0;
  width: 100%;

  & .prompt-btn {
    min-width: 100px!important;
    padding: 0;
  }
}

