@import "../../styles/shared.scss";

.editor-toolbar-wrapper {
  width: 100%;
  padding: 15px 0 10px;
  border-bottom: 1px solid $colors-border;
  position: sticky;
}

.editor-toolbar {
  margin: 0px;
  padding-left: 30px;
}